/**
* Device
*   @media only screen and (min-device-width: 761px) and (max-device-width: 986px) { 
*/



 	




/* header menu */
 	@media only screen and (max-width: 761px) { 

 		
 		.menu-link {
			margin-top: -70px;
			padding-bottom:20px;
   		}   

   		
 	}
 
		
  @media only screen and (min-width: 761px) and (max-width: 986px) {
       

		.container {
 			/* height: 67px !important; */
 			max-width:1024px;
 		}

 		.menu-link { 
 			margin-top:30px !important; 
 			float:right !important; 
		}
	}

 	

 	@media only screen and (max-width: 986px) {
		 
	


		.beedroom-container {
			margin-top:0px !important;
		}

 		.mobile-view-footer-security {
 			/* border:1px solid red; */
 		}


 		/** general */

 		.mobile-hidden {
 			display: none;
 		}

 		.mobile-height {
 		height: 1px;
 		}





	/** promo code*/
	.mobile-promo-code-container { 

	} 	
 	.mobile-promo-code-container {

		display:block !important;

		margin-top:20px !important;

		padding:0px;

		margin:0px;

		/* padding-left:30px; */

		padding-right:4px;

	}	

 	.mobile-promo-code-container table { 
		width:100%; 
 	}
  
 	.mobile-promo-code-container table  td {  
		padding:0px; 
		padding:0px; 
		margin:0px; 
 	}
 
 	.mobile-promo-code-container table td:nth-child(1) {
		width: 90%;
		}

  	.mobile-promo-code-container table td:nth-child(1) input {    
		width:100% !important; 
		height:46px !important;

 	}
 
 	.mobile-promo-code-container table td:nth-child(2)  div {    
 		padding:0px !important;
 		margin:0px !important; 
	    float:right !important;  
	    margin-left:4px !important; 	 
	    margin-top:10px !important; 
 	}
    
   .mobile-promo-code-container table td:nth-child(2)  div a {    
   		padding:0px !important;
   		margin:0px !important;  
   		padding-bottom:30px !important;
 	 	border-radius:10px !important; 
 	    height:40px !important;  
 	    width:110px !important;
 	}


 	/** Payment information */
			




 		.desktop-view-footer-security {
			display: none !important;
 		} 
 		  
		.mobile-view-footer-security, .customer-information-mobile {
			padding:0px;
			display: block !important;
		}
		 
		.mobile-view-footer-security  li {
			float:right;
/* 			border:1px solid red !important; */
			width:50%;
			text-align:center; 
		}


		 .payment-info-secure-text {
		 	padding-top: 6px;
		 	padding-right:10px !important;
		 }
		 .text-center p {
		 	padding:0px !important; 
		 	margin:0px !important;
		 }

		.payment .container {
			padding-left:5px; 
			padding-right:5px; 
		}
		.payment .form-group {
			padding:0px;
			/* 			border:1px solid red; */
			margin:0px !important;
			padding-top:5px;
			padding-bottom:5px;
			background-color: #F5F5F5;
		}
		.payment{
			padding:0px;
			margin:0px;  
		} 
 		.payment-information-title {

			/* padding:0px !important; */
 			margin-top:20px !important;
 		}

		.payment-information-container .phone:nth-child(1), 
		.payment-information-container .phone:nth-child(2),
		.payment-information-container .phone:nth-child(3) {
			margin-bottom:5px; 
		}
		
 		.payment-information-container { 
			padding:0px;
			padding-left:30px; 
			padding-right:15px;
 		}
			
		.payment-information-container .header-title {
			padding:0px;
			margin:0px; 
		}

	    .payment-information-container .header-title p  {
			color:red !important;
			padding:0px;
			margin:0px;
			padding-bottom:15px;
			text-align:left;
		}

		.payment-information-container .header-title h3  { 
			 text-align:left;
			padding:0px;
			margin:0px;
			padding-top:20px; 
		} 
		.payment_label  {
			padding:0px; 
			padding-left:5px; 
			padding-top:4px;
		} 
		.payment_label h3 {
			font-size:12px; 
			text-align:left; 
		}

   
	/** addons */

	.adons-title { 
		margin-top:20px !important;
	}

	.add_ons_container { 
		padding-bottom:10px; 
	}

	 /**  Contact information and service address */

 		.service-address-and-contact-info {
 			display: none;
 		}


    /** cleaning date arrival*/		 
		.cleaning-date-arrival-field-container div:nth-child(1) { 
			padding-bottom:10px;
		}
		
    	.cleaning-date-arrival-field-container div { 
    		padding:0px; 
    		margin-left:-15px;
    		padding-bottom:6px;
    	}

    	 
		.cleaning-date-arrival-title {  
			/* border:1px solid red; */
			margin-top:0px;
			font-size:15px !important;
		}
	 
	/** cleaning option */ 
	


	 .cleaning-date-arrival-title {
	 	margin-top: 34px;
	 }
 	

 	 
	.cleaning-container a { 
		font-size:15px !important; 
	}
	  
	 .cleaning-message-container p {  
	 	font-size:13px !important;
	 	 
	 }
	 
	 .triaglelogo2-mobile, .triaglelogo2-line-mobile {
	 	display:none; 
	 }
	 .cleaning-message-container   { 
	 	color:red !important;
	 	margin-top:-40px;
	 	margin-left:10px;
	   /* 	 	border:1px solid red;  */
	   clear:both !important; 
	   width:99%;
	 }
	
	
	.cleaning-container div { 
		padding-bottom:9px; 
	}
	.pick-level-first-clean { 
		padding:0px;  
		margin:0px;  
		font-size:15px !important;
		padding-bottom:10px;
		padding-top:20px; 
	}

	/** weeks 	*/
	

 	.weekly-container div { 
/* 		border:1px solid red; */
		width:100%; 
 	}
	.weeks-frequency-container {  
		display:none; 
/* 		border:1px solid red ; */
	}

	.btn-line.btn-default {
		border-radius:2px !important; 
	}


	/** room often */		

	.about-home-often {
		padding-top:25px; 
		/* border:1px solid red; */
		margin: 0px;
		font-size: 15px !important;
	}

 		 
	/** bed and bath rooms  */	
	

	.bed-rooms, .bed-rooms  { 
		color:grey;
		text-align:center;
	}

	.square-foot-field {
		color:grey;
		border-radius:5px !important;
		margin-top:-20px;
		background-color: #EEEEEE !important;
	}

	.form-group {
	  margin-bottom:10px !important;
	}



	.container-fluid-mobile {
		padding-top:50px !important;
	}

	#phonetotal {
		margin-bottom: 0px !important;
	}

	.before_main, .logotrigle{ 
		 display:none;  
	}

	.about-home-title { 
		position:relative;
		font-size:15px !important; 
		padding: 0px;
		margin: 0px;
		margin-top: 49px !important; 
		position: absolute;  
	}
 		 



	/** header 2 left side content */

	.header2-left-container-1 { 
		
	}	

	.header2-left-container-1 table { 
		
	}	

	.header2-left-container-1 table td { 
/* 		border:1px solid red; */
	}	
	
	 .header2-left-container-2 table {
	 	margin-top: 14px;
	 }

	.header2-left-container-1 table td:nth-child(1), .header2-left-container-2 table td:nth-child(1) { 
/* 		border:2px solid green; */
		width:0px;
		padding:0px; 
	}	
	
	.header2-left-container-1 table td:nth-child(3) img {
		float:left ;
/* 		border:1px solid red; */

	}
	.header2-left-container-1 table td:nth-child(2), .header2-left-container-2 table td:nth-child(2) {/* 		border:1px solid yellow; */width: 100%;}


	.header2-left-container-1, .header2-left-container-2  { 
		padding:0px;

	}	
	
	.header2-left-container-1 span, .header2-left-container-2 span {
		color:black;
		font-size: 15px;
	}


	/* 	 Header 2 and pricing */
 	.panel-default {
 		border-top:none !important;	
 	}
	.header2-arrow-down-div { 
		margin: 0px;
		padding: 0px;
		width: 100%; 
		position: absolute;
		margin-top: 2px;
		margin-left: -14px;
		text-align: center;  
	}

	 
	.header2-right-container {
		width: 52%;
		float: right;
		padding: 0px;
		margin-top: -9px;
		/* border: 1px solid red; */
	} 

	.header2-right-container span {  
		font-size:15px; 
		font-weight:bold;
		color:black !important;
	} 
	
	 .header2-right-firstclean {
	 	 padding:0px;
	 	 width: 100%;
	 	 float:right;
	 	 background-color: #fff;
	 	 border: 2px solid #CCCCCC;
	 	 padding-top:15px;
	 	 padding-bottom:15px;
	 	 padding-left:10px;
	 }
	.header2-right-weeks   {
		/* 		 border: 1px solid red; */
		padding:0px;
		width: 100%;
		float:right;
		background-color: #DAEEF3;
		padding-top:15px;
		padding-bottom:15px;
		padding-left:10px;
	}

	.header2-right-weeks table, .header2-right-firstclean table { 
	    
	     
	} 

	.header2-right-weeks table td:nth-child(1), .header2-right-firstclean table td:nth-child(1) { 
/* 		border:1px solid red;  */
		width:10px;
	}

	.header2-right-weeks table td:nth-child(2), .header2-right-firstclean table td:nth-child(2) { 
/* 		border:1px solid yellow;  */
		width:280px;
	}
	
 

	.header2-right-weeks table td:nth-child(3), .header2-right-firstclean table td:nth-child(3) { 
/* 		border:1px solid green;  */
		width:10px;


	}


	.header2-right-weeks table td:nth-child(4), .header2-right-firstclean table td:nth-child(4) { 
/* 		border:1px solid pink;  */
	 	padding-top: 8px;
	}
  
	.header2-right-weeks table td:nth-child(4) span, .header2-right-firstclean table td:nth-child(4) span {  
 		font-size:8px !important; 
		margin-top:20px !important; 
	}
 





 	.header2-mobile-pricing-and-info {
	    border-top: 15px solid #DAEEF3;
	    width: 98%;
	    margin-left: 5px;
	    padding-bottom: 7px;
	    border-bottom: 5px solid #ccc;
	    padding-top: 7px;
	 }

	 .header2-arrow-down {/* 		border:1px solid red; */width:50px;text-align:center;position:absolute;margin-top: -11px;margin-left:40%;}



	 
 	.header-faq-desktop, .header-faq-mobile {
 		color: #2EA3F2 !important;
 		font-weight:bold;
 		font-size:20px;
 		margin-top: -10px;
 		margin-right: -21px;
 	}
 	
 	.header-logo-mobile {
 		display: block !important; 
 	} 

 	.header-logo-desktop {
 		display: none !important; 
 	}

	.menu-phone {
	 	border: 2px solid #2EA3F2;
	 	padding-right: 30px;
	 	padding-bottom: 16px;
	 	padding-top: 14px;
	 	padding-left: 17px;
	 	border-radius: 5px;
	 	margin-top: -22px;
	}

  	.container-header-menu {
	  	padding: 0px;	
	  	background-color: #fff !important;
	  	padding-top: 10px !important; 
	  	height:200px !important; 
	  	margin-top: -18px !important;
	}

   	.menu-phone {
    	display:block; 
    	float: right;
   	}
 
  	.menu-phone-contact-us {
    	display: none; 
    	float: right;
  	}
   
  	.menu-link a { 
    }
 
  	#logo {
     	margin-bottom:40px;
     	margin-top: 7px;
     	margin-left: -42px;
   } 
  
}
  


/** Mobile view for add ons*/  
@media only screen  and ( max-width: 470px) {   
	.add_ons ul li { 
		width:50% !important; 
	} 
	.add_ons {
/* 		padding-left:15% !important;  */
	}
}


@media only screen  and ( max-width:288px) {   
	.add_ons {
/* 		padding-left:10% !important;  */
	}
}


@media only screen  and ( max-width:253px) {   
	.add_ons {
/* 		padding-left:25% !important;  */
	}
	.add_ons ul li { 
		width:100% !important; 
	} 
}


/*  
* Created for addons purposes
* screen min size 872px 
*/ 
@media only screen and (min-device-width: 872px) {    
	.addons-container .circle-design {   
		margin-left:-3px !important; 
		margin-top:80px;
	}
} 

/**
* button compress in desktop view
*/ 
@media only screen and (min-width: 992px) and (max-width: 1205px) {    
	.baths-bdes-sqrft-container .col-md-4 {
		width: 94% !important;
		padding:0px !important;
		margin:0px !important;
		height:63px;
		margin-left: 13px !important;
	} 
}


/** 
* 
* Desktop view
*/ 
@media only screen and (min-width: 992px) {    
	
	.customer-information-mobile {
		padding-top:60px; 
		margin-left:-30px;
	} 
	
	.customer-information-mobile .phone {
		width:33.3%;
	}  

	.payment{
		margin:0 auto;
		padding-top:20px;
		background-color: #F5F5F5;
		padding-left:0px;
	}
	
	 .payment-info-secure-text {
		padding-top: 6px;
		 
	 }
 
	.book-my-cleaning {
         width:95% !important; 
         margin-left:34px !important;
	}
 
	.payment-information-container {

		width:95% !important;
	} 
}






/**
general
*/

.add_ons {
/* 	padding-left:10%;  */
}
.add_ons ul {

 	padding:0px;
 	margin:0px; 
}
.add_ons ul li {
	list-style:none; 
	float:left;
/* 	padding-right:20px; */
	width:25%;
}
 
.add_ons table {
	width:100%; 
}

 
.desktop-view-footer-security {
	display: block;
} 
.mobile-view-footer-security {
	display: none;
}

.mobile-promo-code-container {
 
	display: none;
}

.square-foot-field {
	background-color: #EEEEEE !important;
	border-radius:10px !important;
}
.beedroom-container {
	margin-top:20px;
}

.before_main {
	padding: 5px 0px 11px 0px;
}






/** circle design */


.addons-container {
/* 	border:1px solid red; */
	width:100px !important; 
	padding:0px !important;
	margin:0px !important; 
}

.circle-design {
	padding:0px;
	margin:0px;
	border: 1px solid white;
	width: 17px !important;
	height: 17px;
	border-radius:10px !important;
	position:absolute;
	z-index:1;
	margin-top:20px;
	margin-left:-8px;
	background-color:red;
}

.circle-addons {
		margin-top: 68px;
		margin-left: 0px;
}

.circle-design-non-clicked {
	background:url('https://naturalcarecleaningservice.com/form/assets/img/circle-clicked-non.png');
    background-repeat: no-repeat;
	background-size: 15px 15px;
}

.cicle-design-clicked { 
	background:url('https://naturalcarecleaningservice.com/form/assets/img/circle-clicked.png'); */
    background-repeat: no-repeat;
  	background-size: 15px 15px;
}   
.book-my-cleaning {
	height: 52px; 
	font-size: 24px; 
	color: white; 
	margin-left:10px; 
}
















/*


@media (max-width: 552px) {
  
  	.addons-left-content input:nth-child(2) { 
        float:right !important;
        margin-right:-85px !important;
        margin-top:160px !important;
  	}       

  	.addons-right-content input:nth-child(2) { 
        float:left !important;
        margin-left:-85px !important;
     	margin-top:160px !important;
  	}
}


@media only screen and (min-device-width: 869px) and ( max-device-width: 1138px) {  
    .addons-left-content input:nth-child(2) {
        float:right !important; 
        margin-right: -92px !important;
        margin-top: 194px !important;
    }       

   	.addons-right-content input:nth-child(2) {
      	float:left !important; 
        margin-left: -92px !important;
      	margin-top: 193px !important;
  	}
}



@media only screen and (min-width: 869px) and ( max-width: 1138px) {  
 	.addons-left-content input:nth-child(2) {
        float:right !important; 
        margin-right: -92px !important;
        margin-top: 194px !important;
    }       

   	.addons-right-content input:nth-child(2) {
    	float:left !important; 
  		margin-left: -92px !important;
      	margin-top: 193px !important;
    }
}


.mobile-promo-code-container {
	display:none;
}




@media only screen and (min-device-width: 384px) and ( max-device-width: 424px) { 
	.addons-left-content input { 
		margin-right:15px;
	}

	.addons-right-content input { 
		margin-left:15px;
	}
}

@media only screen and (min-device-width: 425px) and ( max-device-width: 552px) {  
	 
	.add_ons {
		padding:40px 0px 40px 0px;
	}
	 
	#wall, #stove {
		margin-top:190px !important;
	}
	.addons-left-content input { 
		margin-right:15%;
	}

	.addons-right-content input { 
		margin-left:15%;
	}
}


@media only screen and (min-device-width: 694px) and ( max-device-width: 859px) {  
	 
	.add_ons {
		  
	}
	 
	#wall {
		margin-left:40px !important; 
		float:right; 
	}

	#window {
		float:left;
		margin-left:40px;
	}

	#fridge {}

	#stove {
		float:right; 
		margin-right:100px;
	}


	.addons-left-content input { 
		
	}

	.addons-right-content input { 
		 
	}
} 
*/ 

