/**
* Device
*   @media only screen and (min-device-width: 761px) and (max-device-width: 986px) { 
*/



 	




/* header menu */
 	@media only screen and (max-width: 761px) { 

 		
 		.menu-link {
			margin-top: -70px;
			padding-bottom:20px;
   		}   

   		
 	}
 
		
  @media only screen and (min-width: 761px) and (max-width: 986px) {
       

		.container {
 			height: 67px !important;
 			max-width:1024px;
 		}

 		.menu-link { 
 			margin-top:30px !important; 
 			float:right !important; 
		}
	}

 	

 	@media only screen and (max-width: 986px) {
		 
	



 		/** general */

 		.mobile-hidden {
 			display: none;
 		}

 		.mobile-height {
 		height: 1px;
 		}





	/** promo code*/
	 
 	.mobile-promo-code-container { 

 		display:block !important;
 		margin-top:20px !important; 
		padding:0px; 
		margin:0px; 
		padding-left:30px;
		padding-right:4px;
 	}	

 	.mobile-promo-code-container table { 
		width:100%; 
 	}
  
 	.mobile-promo-code-container table  td {  
		padding:0px; 
		padding:0px; 
		margin:0px; 
 	}
 
 	.mobile-promo-code-container table td:nth-child(1) {
		width: 90%;
		}

  	.mobile-promo-code-container table td:nth-child(1) input {    
		width:100% !important; 
		height:46px !important;

 	}
 
 	.mobile-promo-code-container table td:nth-child(2)  div {    
 		padding:0px !important;
 		margin:0px !important; 
	    float:right !important;  
	    margin-left:4px !important; 	 
	    margin-top:10px !important; 
 	}
    
   .mobile-promo-code-container table td:nth-child(2)  div a {    
   		padding:0px !important;
   		margin:0px !important;  
   		padding-bottom:30px !important;
 	 	border-radius:10px !important; 
 	    height:40px !important;  
 	    width:110px !important;
 	}


 	/** Payment information */

 		.payment-information-title {

			/* padding:0px !important; */
 			margin-top:20px !important;
 		}

   
	/** addons */

	.adons-title { 
		margin-top:20px !important;
	}

	.add_ons_container { 
		padding-bottom:10px; 
	}

	 /**  Contact information and service address */

 		.service-address-and-contact-info {
 			display: none;
 		}


    /** cleaning date arrival*/		 
		.cleaning-date-arrival-field-container div:nth-child(1) { 
			padding-bottom:10px;
		}
		
    	.cleaning-date-arrival-field-container div { 
    		padding:0px; 
    		margin-left:-15px;
    		padding-bottom:6px;
    	}

    	 
		.cleaning-date-arrival-title {  
			/* border:1px solid red; */
			margin-top:0px;
			font-size:15px !important;
		}
	 
	/** cleaning option */ 
	


	 .cleaning-date-arrival-title {
	 	margin-top: 34px;
	 }
 	

 	 
	.cleaning-container a { 
		font-size:15px !important; 
	}
	  
	 .cleaning-message-container p {  
	 	font-size:13px !important;
	 	 
	 }
	 
	 .triaglelogo2-mobile, .triaglelogo2-line-mobile {
	 	display:none; 
	 }
	 .cleaning-message-container   { 
	 	color:red !important;
	 	margin-top:-40px;
	 	margin-left:10px;
	   /* 	 	border:1px solid red;  */
	   clear:both !important; 
	   width:99%;
	 }
	
	
	.cleaning-container div { 
		padding-bottom:9px; 
	}
	.pick-level-first-clean { 
		padding:0px;  
		margin:0px;  
		font-size:15px !important;
		padding-bottom:10px;
		padding-top:20px; 
	}

	/** weeks 	*/
	

 	.weekly-container div { 
/* 		border:1px solid red; */
		width:100%; 
 	}
	.weeks-frequency-container {  
		display:none; 
		border:1px solid red ;
	}

	.btn-line.btn-default {
		border-radius:2px !important; 
	}


	/** room often */		

	.about-home-often {
		padding-top:25px; 
		/* border:1px solid red; */
		margin: 0px;
		font-size: 15px !important;
	}

 		 
	/** bed and bath rooms  */	
	

	.bed-rooms, .bed-rooms  { 
		color:grey;
		text-align:center;
	}

	.square-foot-field {
		color:grey;
		border-radius:5px !important;
		margin-top:-20px;
		background-color: #EEEEEE !important;
	}

	.form-group { 
	  margin-bottom:10px !important;   
	}



	.container-fluid-mobile {
		padding-top:50px !important;
	}

	#phonetotal {
		margin-bottom: 0px !important;
	}

	.before_main, .logotrigle{ 
		 display:none;  
	}

	.about-home-title { 
		position:relative;
		font-size:15px !important; 
		padding: 0px;
		margin: 0px;
		margin-top: 49px !important; 
		position: absolute;  
	}
 		 



	/** header 2 left side content */

	.header2-left-container-1 { 
		
	}	

	.header2-left-container-1 table { 
		
	}	

	.header2-left-container-1 table td { 
/* 		border:1px solid red; */
	}	
	
	 .header2-left-container-2 table {
	 	margin-top: 14px;
	 }

	.header2-left-container-1 table td:nth-child(1), .header2-left-container-2 table td:nth-child(1) { 
/* 		border:2px solid green; */
		width:0px;
		padding:0px; 
	}	
	
	.header2-left-container-1 table td:nth-child(3) img {
		float:left ;
/* 		border:1px solid red; */

	}
	.header2-left-container-1 table td:nth-child(2), .header2-left-container-2 table td:nth-child(2) {/* 		border:1px solid yellow; */width: 100%;}


	.header2-left-container-1, .header2-left-container-2  { 
		padding:0px;

	}	
	
	.header2-left-container-1 span, .header2-left-container-2 span {
		color:black;
		font-size: 15px;
	}


	/* 	 Header 2 and pricing */
 	.panel-default {
 		border-top:none !important;	
 	}
	.header2-arrow-down-div { 
		margin: 0px;
		padding: 0px;
		width: 100%; 
		position: absolute;
		margin-top: 2px;
		margin-left: -14px;
		text-align: center;  
	}

	 
	.header2-right-container {
		width: 52%;
		float: right;
		padding: 0px;
		margin-top: -9px;
		/* border: 1px solid red; */
	} 

	.header2-right-container span {  
		font-size:15px; 
		font-weight:bold;
		color:black !important;
	} 
	
	 .header2-right-firstclean {
	 	 padding:0px;
	 	 width: 100%;
	 	 float:right;
	 	 background-color: #fff;
	 	 border: 2px solid #CCCCCC;
	 	 padding-top:15px;
	 	 padding-bottom:15px;
	 	 padding-left:10px;
	 }
	.header2-right-weeks   {
		/* 		 border: 1px solid red; */
		padding:0px;
		width: 100%;
		float:right;
		background-color: #DAEEF3;
		padding-top:15px;
		padding-bottom:15px;
		padding-left:10px;
	}

	.header2-right-weeks table, .header2-right-firstclean table { 
	    
	     
	} 

	.header2-right-weeks table td:nth-child(1), .header2-right-firstclean table td:nth-child(1) { 
/* 		border:1px solid red;  */
		width:10px;
	}

	.header2-right-weeks table td:nth-child(2), .header2-right-firstclean table td:nth-child(2) { 
/* 		border:1px solid yellow;  */
		width:280px;
	}
	
 

	.header2-right-weeks table td:nth-child(3), .header2-right-firstclean table td:nth-child(3) { 
/* 		border:1px solid green;  */
		width:10px;


	}


	.header2-right-weeks table td:nth-child(4), .header2-right-firstclean table td:nth-child(4) { 
/* 		border:1px solid pink;  */
	 	padding-top: 8px;
	}
  
	.header2-right-weeks table td:nth-child(4) span, .header2-right-firstclean table td:nth-child(4) span {  
 		font-size:8px !important; 
		margin-top:20px !important; 
	}
 





 	.header2-mobile-pricing-and-info {
	    border-top: 15px solid #DAEEF3;
	    width: 98%;
	    margin-left: 5px;
	    padding-bottom: 7px;
	    border-bottom: 5px solid #ccc;
	    padding-top: 7px;
	 }

	 .header2-arrow-down {/* 		border:1px solid red; */width:50px;text-align:center;position:absolute;margin-top: -11px;margin-left:40%;}



	 
 	.header-faq-desktop, .header-faq-mobile {
 		color: #2EA3F2 !important;
 		font-weight:bold;
 		font-size:20px;
 		margin-top: -10px;
 		margin-right: -21px;
 	}
 	
 	.header-logo-mobile {
 		display: block !important; 
 	} 

 	.header-logo-desktop {
 		display: none !important; 
 	}

	.menu-phone {
	 	border: 2px solid #2EA3F2;
	 	padding-right: 30px;
	 	padding-bottom: 16px;
	 	padding-top: 14px;
	 	padding-left: 17px;
	 	border-radius: 5px;
	 	margin-top: -22px;
	}

  	.container-header-menu {
	  	padding: 0px;	
	  	background-color: #fff !important;
	  	padding-top: 10px !important; 
	  	height:200px !important; 
	  	margin-top: -18px !important;
	}

   	.menu-phone {
    	display:block; 
    	float: right;
   	}
 
  	.menu-phone-contact-us {
    	display: none; 
    	float: right;
  	}
  
  	

  	.menu-link a {
    	/* color:white; */
   }

  	#logo {
     	margin-bottom:40px;
     	margin-top: 7px;
     	margin-left: -42px;
   } 
  
}



@media (max-width: 552px) {
  
  	.addons-left-content input:nth-child(2) { 
        float:right !important;
        margin-right:-85px !important;
        margin-top:160px !important;
  	}       

  	.addons-right-content input:nth-child(2) { 
        float:left !important;
        margin-left:-85px !important;
     	margin-top:160px !important;
  	}
}


@media only screen and (min-device-width: 869px) and ( max-device-width: 1138px) {  
    .addons-left-content input:nth-child(2) {
        float:right !important; 
        margin-right: -92px !important;
        margin-top: 194px !important;
    }       

   	.addons-right-content input:nth-child(2) {
      	float:left !important; 
        margin-left: -92px !important;
      	margin-top: 193px !important;
  	}
}



@media only screen and (min-width: 869px) and ( max-width: 1138px) {  
 	.addons-left-content input:nth-child(2) {
        float:right !important; 
        margin-right: -92px !important;
        margin-top: 194px !important;
    }       

   	.addons-right-content input:nth-child(2) {
    	float:left !important; 
  		margin-left: -92px !important;
      	margin-top: 193px !important;
    }
}


.mobile-promo-code-container {
	display:none;
}