
html, body{height:100%;}
.et_pb_gutters3 .et_pb_column_2_3, .et_pb_gutters3.et_pb_row .et_pb_column_2_3{
	width:46% !important;
	border:1px solid red;
	
}
.weekly-container .btn, .cleaning-container .btn{
	padding: 20px !important;
}
#timers{
	border: none !important;	
	width: 120% !important;
	box-shadow: none !important;
	margin-left: -30px !important;
	text-align: center !important;
}


.timer {
	color: #C3C4C1;
    left: 23px;
    position: absolute;
    top: 10px;
}
.triangle-time {
    position: absolute;
    right: 17px;
    top: 15px;
}

.modal_body{
	display:none;
    z-index: 1000;
	background-color: rgba(0, 0, 0, 0.68);
	position:fixed;
	padding:0px !important;
	width:100%;
	height:100%;
	overflow:auto;
}
.modal_content{
	z-index:9999;
	border-radius:3px;
	background:#fff;
	border-top:10px solid #b4d0c2;
	padding:0px 20px 20px 20px !important;
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	-webkit-box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 18px -2px rgba(0,0,0,0.75);
}



.modal_body_faq{
	display:none;
	z-index:999;
	background-color: rgba(0, 0, 0, 0.68);
	position:fixed;
	padding:0px !important;
	width:100%;
	height:100%;
	overflow:auto;
}
.modal_content_faq {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    border-top: 10px solid #b4d0c2;
    box-shadow: 0 0 18px -2px rgba(0, 0, 0, 0.75);
    margin: 0 auto;
    padding: 0 20px 20px !important;
    width: 90% !important;
    z-index: 1001 !important;
}
.modal_content_faq p, .modal_content_faq .et_pb_column.et_pb_column_4_4.et_pb_column_0, .modal_content_faq .et_pb_row.et_pb_row_0, .modal_content_faq .et_pb_column  .et_pb_column_4_4.et_pb_column_0, .modal_content_faq .et_pb_text.et_pb_module.et_pb_bg_layout_light.et_pb_text_align_left.et_pb_text_0{
	padding:0px !important;
}
.modal_content_faq p{
	font-size:11px;
	color:#666;
}




#summary{
	z-index:22 !important;
}
.link{
	padding:24px 0px 24px 0px;
}
.link a{
	display:block;
	color:#fff;
}
.mobile{
	display:none !important;
}
.desktop{
	display:block ;
}


.glyphicon-calendar::before {
    font-size: 24px;
    left:9px;
    position: absolute;
    top: -56px;
    color: #bfbfbd !important;
}

.time-wrapper {
    border: 1px solid #dedede;
    margin-left: 0 !important;
    overflow: hidden !important;
    padding: 0;
    text-align: center !important;
    width: 100%;
}


.triangle {
    position: absolute;
    right: 20px;
    top: 13px;
}


@media screen and (max-width: 986px) {
	
.timer {
    color: #c3c4c1;
    font-size: 30px !important;
    left: 9px;
    position: absolute;
    top: 10px;
}

.time-wrapper {
    border: 1px solid #dedede;
    margin-left: 0 !important;
    overflow: hidden !important;
    padding: 0;
    text-align: center !important;
    width: 100%;
}

}

@media screen and (max-width: 480px) {

    .mobile{
		display:block !important;
	}
	.desktop{
		display:none !important;
	}
	.btn-line.btn-default{
		padding:20px !important;
	}
	.cleantype{
		font-size:9px !important;
	}
}


