.bed-rooms {
    margin-top:-3px;
    height:39px;
}

#logo {  
   margin-bottom:12px; 
}

.container-header-menu {
  padding: 0px;
  background-color: #666666 !important;
  padding-top: 10px !important;
  /* padding-bottom: 400px !important; */
  height:200px !important;
  /*   border:1px solid red; */
  margin-top: -18px !important;
}
.menu-link a {
  color:white;  
}
.menu-link {
  padding-top: -24px;
  margin-top: 27px;
  text-align:right;
  padding-right:25px;
}


/*  
.container-content {
    padding-left:0px;
    margin-left:8%;
    border:1px solid red;
    margin-top: -215px;
}

#logo {
    height:90px; 
    margin-top:65px;
    margin-bottom:0px;  
     margin-left:-50px; 
} 

.menu-link {
  padding-top:10px;
  margin-top:70px;
  text-align:right;
  padding-right:25px;
}
.menu-link a {
  color:white;  
}
.page-padding { 
    padding-bottom:30px; 
} */
  
  
  .menu-phone-contact-us {
    display: block; 
    float: right;
  }
  .menu-phone {
    display:none;
    float: right; 
  }
 @media only screen and (max-width: 767px) {

     /*.container-header-menu {*/
         /*background-color: #ffffff !important;*/
     /*}*/

  .menu-phone {
    display:block; 
    float: right;
  }


  .menu-phone-contact-us {
    display: none; 
    float: right;
  }
  
  .menu-link {
    margin-top: -70px;
    padding-bottom:20px;
  }

  .menu-link a { 
    color:white; 
  }

  #logo {  
     margin-bottom:40px; 
  } 

  
}

 


  .container-cover {
    /* border:1px solid red; */
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
    margin-top: 200px;
    height: 500px !important;
    }


  .container-cover img {
    /*border: 1px solid red;*/
    height: 200px;
  }



  @media (max-width: 767px) {
      body {
          padding-top: 0px;
      }
    }



 
.bootstrap-touchspin-down {
  font-size: 28px !important;
  padding: 0px !important;
}

.bootstrap-touchspin-up {
  font-size:20px !important;
}

textarea:focus, input:focus{
    outline: none !important;
}
*:focus {
    outline: none !important;
}



.bootstrap-touchspin-up, .bootstrap-touchspin-down {/*   border:1px solid red !important; */height: 49px;width:44px;/* border-right: 1px solid red !important; */}

.bootstrap-touchspin-up:hover, .bootstrap-touchspin-down:hover {
  height: 49px;
  width:44px;
}
 

 .bed-rooms {
   margin-top:1px !important;
   border:none !important;
   height:800px !important;
   border-left: 1px solid #B5B5B5 !important;
   border-right: 1px solid #B5B5B5 !important;
 }
 
 .addons-right-content input { 
    float:left
 }
 
 .addons-right-content input:nth-child(2) { 
    float:left;
/*     border:1px solid red; */
    margin-left:30px;
 }

 .addons-left-content input { 
    float:right;
 }

 .addons-left-content input:nth-child(2) {
    float:right; 
    margin-right:30px;
 }


  @media (max-width: 552px) {
  
     .addons-left-content input:nth-child(2) { 
        float:right !important;
/*         border:1px solid green; */
        margin-right:-85px !important;
        margin-top:160px !important;
     }       

      .addons-right-content input:nth-child(2) { 
              float:left !important;
/*               border:1px solid green; */
              margin-left:-85px !important;
              margin-top:160px !important;
       }
  }


   @media only screen and (min-device-width: 869px) and ( max-device-width: 1138px) { 
    
      
     .addons-left-content input:nth-child(2) {
        float:right !important;
/*         border:1px solid green; */
        margin-right: -92px !important;
        margin-top: 194px !important;
     }       

      .addons-right-content input:nth-child(2) {
              float:left !important;
/*               border:1px solid green; */
              margin-left: -92px !important;
              margin-top: 193px !important;
       }
  }



   @media only screen and (min-width: 869px) and ( max-width: 1138px) { 
    
      
     .addons-left-content input:nth-child(2) {
        float:right !important;
/*         border:1px solid green; */
        margin-right: -92px !important;
        margin-top: 194px !important;
     }       

      .addons-right-content input:nth-child(2) {
              float:left !important;
/*               border:1px solid green; */
              margin-left: -92px !important;
              margin-top: 193px !important;
       }
  }
